.carousel-item {
    background-color: #FCEAE8;
}

.slider_content {
    margin: 200px 30px;
}

.subcription_area {
    background-color: #FCEAE8;
}

.subcription_area #btn_submit {
    text-decoration: none;
    background-color: gray;
    border: none;
    padding: 10px 50px;
    color: #FCEAE8;
    border-radius: 10px;
}